#box {
  width: 1110px;
  height: 1468px;
  background-color: white;
  position: absolute;
  top: 90%;
  left: 20%;
  overflow: hidden;
}

#overlay1 {
  width: 448px;
  height: 578px;
  background-color: #f63700;
  position: absolute;
  left: 5.1%;
  top: 5.05%;
  opacity: 0.85;
  display: none;
}

#overlay2 {
  width: 448px;
  height: 578px;
  background-color: #f63700;
  transition: 0.1s ease;
  position: absolute;
  left: 55.1%;
  top: 10.05%;
  opacity: 0.85;
  display: none;
}

#overlay3 {
  width: 448px;
  height: 578px;
  background-color: #f63700;
  transition: 0.1s ease;
  position: absolute;
  left: 5.1%;
  top: 55.05%;
  opacity: 0.85;
  display: none;
}

#overlay4 {
  width: 448px;
  height: 578px;
  background-color: #f63700;
  transition: 0.1s ease;
  position: absolute;
  left: 55.1%;
  top: 60.05%;
  opacity: 0.85;
  display: none;
}

#article1 img:hover {
  transform: scale(1.1);
}

#article2 img:hover {
  transform: scale(1.1);
}

#article3 img:hover {
  transform: scale(1.1);
}

#article4 img:hover {
  transform: scale(1.1);
}

#article1:hover + #overlay1 {
  display: block;
}

#article2:hover + #overlay2 {
  display: block;
}

#article3:hover + #overlay3 {
  display: block;
}

#article4:hover + #overlay4 {
  display: block;
}

div#article1:hover div#white1 {
  display: none;
}

div#article2:hover div#white2 {
  display: none;
}

div#article3:hover div#white3 {
  display: none;
}

div#article4:hover div#white4 {
  display: none;
}

#article1 {
  height: 580px;
  width: 450px;
  background-color: white;
  position: absolute;
  left: 5%;
  top: 5%;
  transition: all 0.4s ease;
  overflow: hidden;
  display: block;
}

#article2 {
  height: 580px;
  width: 450px;
  background-color: grey;
  position: absolute;
  left: 55%;
  top: 10%;
  transition: all 0.4s ease;
  overflow: hidden;
}

#article3 {
  height: 580px;
  width: 450px;
  background-color: grey;
  position: absolute;
  left: 5%;
  top: 55%;
  transition: all 0.4s ease;
  overflow: hidden;
}

#article4 {
  height: 580px;
  width: 450px;
  background-color: grey;
  position: absolute;
  left: 55%;
  top: 60%;
  transition: all 0.4s ease;
  overflow: hidden;
}

#white1 {
  background-color: white;
  height: 135px;
  width: 350px;
  position: absolute;
  top: 77%;
  text-align: center;
  display: block;
}

#white2 {
  background-color: white;
  height: 135px;
  width: 350px;
  position: absolute;
  top: 77%;
  text-align: center;
}

#white3 {
  background-color: white;
  height: 135px;
  width: 350px;
  position: absolute;
  top: 77%;
  text-align: center;
}

#white4 {
  background-color: white;
  height: 135px;
  width: 350px;
  position: absolute;
  top: 77%;
  text-align: center;
}

.title {
  color: #004853;
  font-size: 1.36rem;
  font-family: "Segoe UI Emoji";
}

.summary {
  color: #004853;
  font-size: 0.95rem;
  text-align: center;
  font-family: "Segoe UI Emoji";
}

.excerptHeader {
  color: white;
  font-size: 2rem;
  position: relative;
  top: 2%;
  text-align: center;
  font-family: "Segoe UI Emoji";
}

.excerptText {
  color: white;
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 35px;
  font-family: "Segoe UI Emoji";
}

.button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-family: "Segoe UI Emoji";
  position: absolute;
  bottom: 15%;
  left: 37%;
}

a {
  text-decoration: none;
}
