#firstLine {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  text-align: center;
}
#type {
  position: absolute;
  top: 53%;
  left: 3%;
}
